@media screen and ( min-width : 1440px) {
 
    .main-container{
        max-width: 1440px;
        margin:0;
        padding: 0 50px;
    }
    header{
        padding: 40px 0;
    }
    nav ul {
        gap:60px;
    }
    nav a {
        font-size: 18px;
    }
    h1{
        font-size:30px;
    }
    .bare-de-recherche{
        max-width: 700px;
    }
    .bare-de-recherche input{
        font-size:18px;
        padding:15px;
    }
    .bare-de-recherche button{
        padding: 15px 25px;
        font-size: 18px;
    }
    .filters{
        gap:30px;
    }
    .filters-buttons{
        gap:20px;
    }
    .filters-buttons button {
        padding: 12px 25px;
        font-size:17px;
    }
    .hebergements-et-populaires{
        flex-direction: row;
        gap: 40px;
    }
    .hebergements{
        width:65%;
    }
    .populaires{
        width:35%;
    }
    .hebergemenrts .carte-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 25px;
    }
    .carte img{
        height:150px
    }
    .carte-container2{
        flex-direction: row;
        gap: 20px;
    }
    .carte2{
        flex-direction: row;
        height:160px;
    }
    .carte2 img{
        width:40%;
        height: 100%;
        object-fit: cover;
    }
    .Activites{
        margin-top:60px;
    }
    .carte-container3 {
        display:grid;
        grid-template-columns: repeat(4,1fr);
        gap:25px;
    }
    .carte-container3 img{
        height: 220px;
    }
    footer{
        display:flex;
        justify-content: space-between;
        gap: 50px;
        padding: 50px 0 30px;
    }
    footer div{
        flex:1;
    }
} 
    
