@media screen and(max-width :767px) {
    body{
        padding:0 10px;
    }
    
header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}    
.logo img {
    width : 100px;
   
}
nav {
    width: 100%;
}
nav ul {
    width :100% ;
    display:flex;
    justify-content: space-around;
    padding: 0;
    margin:0;
}
nav li {
  flex:1;
  text-align: center;
  border-bottom: 2px solid #f2F2F2;
  padding: bottom 10px;
}
nav a{
    display: block;
    padding:10px 0;
    border-top: none;
}
nav a :hover{
    border-bottom: 2px solid #0065fc;
    color:#0065fc;
}
.bare-de-recherche{
    width:100%;
    max-width: 100%;
}
.bare-de-recherche input {
    font-size:16px;
}
.bare-de-recherche button {
    flex:0;
    padding : 10px 15px;
}
.filters{
    flex-direction: column;
    width:100%;
    gap:15px;
}
.filters-buttons{
    flex:none;
    width:45%;
}
.hebergements-et-populaires{
    flex-direction: column-reverse;
    gap:20px;
}
.hebergments .populaires {
    width:100%;
    border-radius:0;
    padding: 20px;
}
.carte{
    width:100%
}
.carte img{
    width:160px;
}
.carte-container2{
    flex-direction:column ;
}
.carte2 {
    flex-direction: row;
    height: 140px;
}
.carte2 img{
    width:40%;
    height: 100%;
}
.Activités{
    flex-direction: column;
    gap:20px;
}
.carte-container3{
    flex-direction: column;
    gap: 20px;
}
.carte
footer{
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
}
}


