
body {
  font-family: "raleway", sans-serif;
  margin: 0 auto;
  max-width: 1440px ;
}

.main-container{
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}
  main{
      padding: 0 15px;
    box-sizing: border-box;
  }


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
  margin-top: 30px;

}

nav ul {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  gap: 60px;
}

nav a {
  text-decoration: none;
  color: black;
  padding-top:15px;
  border-top: solid;
  border-top: #0065fc 2px;
}

nav a:hover {
  color: #0065fc;
  border-top: solid #0065fc;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 70px;
}

p {
  margin-top: -10px;


}
.search-form{
  display: flex;
  align-items: center;
  height: 40px;
  width: fit-content;
  border: 1px solid #d9d9d9;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 30px;
}
.search-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #f2F2F2;
  font-size: 18px;
}
.search-input{
  height: 50px;
  width: 240px;
  border: 1px solid #f2f2f2;
  padding: 0 5px 0 30px;
  font-size: 20px;
  font-weight: 100;
  outline: none;
  box-sizing: border-box;
}
.search-input::placeholder{
  color: #000;
  opacity:1
}
.search-button{
  height: 70px;
  border: none;
  padding: 0 10px 0 15px;
  background: #0065FC;
  color: #fff;
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  
}
.search-button i{
  display: none;
}


.Filtres {
  display:flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}
.filtres h2{
  margin: 0;
}

.Filtres_buttons{
  display:flex;
  gap: 20px;
}
.Filtres button {
  flex: 0 0 auto;
  width: auto;
  white-space: nowrap;
  background-color: white;
  border: 2px solid#d9d9d9;
  border-radius: 30px;
  padding: 12px 18px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  
}

.Filtres button:hover {
  background-color: #deebff;
  border-color: #0065fc;
  color: #0065fc;
}

.Filtres i {
  color: #0065fc;
  margin-right: 5px;

}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 24px;
  
}

.cercle {
  display:inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  border:1px solid #d9d9d9;
}

.info i {
  color: #0065FC;
 font-size: 12px;
}
.info p{
  margin:0
}

h3 {
  font-weight: 700;
  margin-top: 50px;
}

h3 {
  font-weight: 800;
  font-size: 20px;
  margin-top: 5px;
}

.hebergements-et-populaires {
  display: flex;
  gap: 50px;
  width: 100%;


}

#Hebergements{
  flex: 2;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.carte-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
 
}

.carte {
  background-color: #fff;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.carte:hover {
  transform: scale(1.03);
}

.carte img {
  display: block;
  width: 100%;
  height: 120px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}

.carte-contenus {
  height: 100%;
  padding: 10px 12px;
}

.carte-contenus h4 {
  margin: 5px 0;
  font-size: 13px;
}

.carte-contenus p {
  margin: 3px 0 5px ;
  font-size: 13px;
}

.étoiles {
  color: #0065fc;
}
.afficher-plus{
  margin-top: 24px;
}

.populaires {
  flex: 1;
  width: 34%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  
}

.afficher-plus {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.afficher-plus:hover {
  text-decoration: underline;
}

.carte-container2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

.carte2 {
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.carte2:hover {
  transform: scale(1.03);
}

.carte2 img {
  width: 40%;
  height: 130px;
  border-top-left-radius: 15px ;
  border-bottom-left-radius: 15px;
  object-fit: cover;
}



#activites {
  margin-top:40px;
 
}

 h3{
  margin-left: 40px;
}

.carte-container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.carte3 {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 420px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
}

.carte3 :hover {
  transform: scale(1.03);
}

.carte3 img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}
.carte3 h4{
  margin:0;
  padding:16px;
  font-size: 16px;
  font-weight: 600;
}

footer {
  background-color: #f2f2f2;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 80px;
}

.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}
.footer-column{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 100%;
  gap: 12px;
}
.footer-column h5{
  margin-bottom: 10px;
}
.footer-column a{
  color:#000;
  text-decoration: none;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {



  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:20px
  }

  nav ul {
    display: flex;
    gap: 60px;
    margin-top: 5px;
    list-style: none;
    padding: 0;
  }
  
  nav a {
    color:black;
    text-decoration: none;
    padding-top: 10px;
  }
  nav a:hover {
    border-top: 5px solid #0065fc;
    color: #0065fc;
  }

  .Filtres{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    margin-top: 15px;
    
  }
  .Filtres h2{
    font-weight: 700;
    font-size: 18px;
    margin: 0;
  }
  .Filtres_buttons{
    display: flex;
    gap:15px;
    flex-wrap: wrap;
  }

  .Filtres_buttons button{
    flex: 0 0 auto;
    padding: 9px 16px;
    border: 2px solid #d9d9d9;
    border-radius: 30px;
    background: white;
    font-weight: bold;
    white-space: nowrap;
  }
 
  .hebergements-et-populaires{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
  }
  #hebergements{
    width: 95%;
  }
  #hebergements .carte-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
  }
  .populaires{
    width: 95%;
    border-radius: 0;
    margin: 0;
  }
  .carte-container2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
  }
  .populaires .carte2{
    width: 33%;
    max-width: 420px;
  }
  .populaires h4{
    font-size: 90%;
  }
  .populaires .p{
    font-size: 9%;
    
  }
  .carte2 img{
     width: 40%;
     height: 150px;
     border-top-left-radius: 15px ;
     border-bottom-left-radius: 15px;
     object-fit: cover;
  }
  .populaires .cartes-populaires{
    display:flex;
    flex-direction: row;
    gap: 20px;
  }
  .populaires .etoiles{
    margin-top: 20px;
     color: #0065fc;
  }
 
  

#activites {
  margin-top:40px;
 
}

 #activites h3{
  margin-left: 40px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.carte-container3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

.carte3 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 260px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease;
}


.carte3 :hover {
  transform: scale(1.03);
}

.carte3 img {
  width: 100%;
  object-fit: cover;
}
.carte3 h6{
  margin:0;
  padding:16px;
  font-size: 13px;
  font-weight: 700;
}
}

@media  screen and (max-width:767px) {
  *{
    box-sizing: border-box;
  }
  body{
    width: 100%;
    font-family: "raleway",sans-serif;
    margin:0;
    padding: 0;
    overflow:visible;
  }

  .main-container{
    max-width: 100%;
    margin: 0 0; 
    padding: 0 0;
  }

  main{
    padding: 0 15px;
    box-sizing: border-box;
  }


   header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    padding-top: 20px;

  }
  .logo{
    width: 25%;
    height: 25px;

  }
  nav{
    width: 100%;
    margin: 0;
  }
  nav ul{
    display: flex;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #f2F2F2;
    
  }
  nav li{
    flex: 1;
    text-align: center;
    padding-bottom: 12px;
  }
  nav li:hover{
    border-bottom: 2px solid #0065fc;
  }
  nav a{
    display: block;
    padding-top: 50px;
    border-top: none !important;
    text-decoration: none;
    color: black;
    border-bottom: none;
  }

  h1{
    font-size:20px;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 20px;
  }

  .search-form{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 15px;
    gap: 0;
    overflow: hidden;
  }
  .search-icon{
    flex: 0 0 50px;
    width: 50px;
    height: 50px;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px ;
  }
  .search-input{
    flex: 1;
    height: 100%;
    min-width: 0;
    width: auto;
    border: 1px solid #d9d9d9;
    border-right: none;
    border-left: none;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 600;
  }
  .search-text{
    display: none;
  }
  .search-button i{
    display: block;
    font-size: 20px;
    margin-left: 0;
  }
  .search-button{
    width:50px;
    height: 50px;
    margin-right: 0px;
    background: #0065fc;
    border: none;
    border-radius: 15px;
    box-shadow: 6px 18px 18px rgba(0, 0, 0, 0.25);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .Filtres{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
  }
  .Filtres h2{
    font-weight: 600;
    font-size: 20px;
    margin: 0;
  }
  .Filtres_buttons{
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    gap: 10px;
    width: 100%;
  }
  .Filtres_buttons button{
    width: 100%;
    min-width: 0;
    border-radius: 25px;
    padding: 8px 12px;
    font-size: 14px;
    border: 2px solid #d9d9d9;
    background: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap:8px;
  }

  .info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0 0 0;
    width: 100%;
  }


  .hebergements-et-populaires{
    display: flex !important;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    
  }

  .hebergements-et-populaires .populaires{
    order: 1;
    width:  100%;
    
    
    
  }
  .hebergements-et-populaires #Hebergements{
    order: 2;
    width: 100%;
    margin: 0;
  }
  .populaires{
    background-color: #f2F2F2;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
  }
  .populaires h3{
     margin: 0 0 15px 0;

  }

  .populaires .carte-container2{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .populaires.carte
  .populaires .carte2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 140px;
    background: white;
  } 
  .populaires .carte img,
  .populaires .carte2 img{
    width:40%;
    height: 140px;
    object-fit: cover;
    display: block;
  }
  .populaires .carte-contenus{
    width: 60%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
  }
  .populaires .carte-contenus h4{
    font-size: 14px;
    margin: 0;
  }
  .populaires .carte-contenus p{
    font-size: 13px;
    margin: 0;
  }
  .populaires .étoiles{
    margin-top:auto;
  }
  #Hebergements{
    background:none;
    box-shadow: none;
    padding: 20px 16px;
    border-radius: 0px;
    width: 100%;
    border-radius: 0;
  }
  #Hebergements h3{
    margin: 0 0 15px 0;
  }
  #Hebergements .carte-container,
  #Hebergements .carte-container2{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  #Hebergements .carte,
  #Hebergements .carte2{
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
  }
  #Hebergements.carte img,
  #Hebergements .carte2 img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
  }
  #Hebergements .carte-contenus {
  padding: 10px 12px;
  box-sizing: border-box;
  }
  #Hebergements .carte-contenus p{
    margin: 6px 0 0 0;
    font-size: 14px;
  }
  #Hebergements .etoiles{
    margin-top: 10px;
  }
  #Hebergements p strong{
    display: inline-block;
    margin-top: 10px;
  }
  .afficher-plus{
    margin-top: 0px;
    padding: 0;
    font-weight: 600;
  }

  #activites{
    width: 100%;
  }
  #activites h3{
     margin: 0 0 15px 15px;
  }
   .carte-container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    gap:12px;
  }
  .carte3{
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 15px;
    overflow: hidden;
    background: white;
  }
  #activites .carte3 img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
  }
  #activites .carte3 h4{
    margin: 0;
    padding: 10px 0px;
    font-size: 16px;
  }

  .footer{
    background: #f2f2f2;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .footer-column{
    display:flex;
    flex-direction: column;
    gap: 8px;
  }
  .footer-column h5{
    margin: 10px 0 10px 0;
    font-size: 16px;
  }
  .footer-column a{
    text-decoration: none;
    color: black;
    font-size: 14px;
  }
  .footer-column a:hover{
    text-decoration: underline;
  }


}