 @media screen and (min-width:768px) and (max-width:1024px) {
    .main-container{
        max-width: 1024px;
        margin:0 auto;
        padding: 0 40px;
    }
    body{
        font-size: 16px;
    }
    
    header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
    }
    .logo img {
        width:100px;
    }

    nav ul {
        display: flex;
        gap:40px;
        justify-content: flex-end;
        margin:0;
        padding:0;
        list-style: none;
        border:none;
    }
    nav li{
        flex:0;
        border-radius: none;
    }
    nav a {
        display:block;
        padding-bottom: 10px;
        
    }
    nav a:hover{
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
    }
     h1{
        font-size: 24px;
        margin-bottom: 10px ;
     }
     .bare-de-recherche{
        margin-top: 20px;
        max-width:600px;
     }
     .bare-de-recherche form {
        display: flex;
        width: 100%;
     }
     .bare-de-recherche input{
        flex:0;
        padding:10px 20px;
        white-space: nowrap;
     }
     .bare-de-recherche button {
        flex:0;
        padding: 10px 20px;
        white-space: nowrap;
     }
     .filters{
        display:flex;
        align-items:center;
        gap:20px;
        flex-wrap: wrap;
        margin:30px 0;
     }
     .filters-buttons{
        display: flex;
        flex-wrap: wrap;
        gap:15px;
        width: 100%;
     }
     .filters-buttons button{
        display: flex;
        align-items: center;
        gap:8px;
        padding: 10px 18px;
        border-radius: 999px;
        flex:0 0 calc(50%-15px)
     }
     .hebergements .carte-container{
        display: grid ;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
     }
     .carte{
        width: 100%;
     }
     .carte img{
        width:100%;
        height: 120px;
        object-fit:cover;
     }

    
     .carte-container2{
        display:flex;
        flex-direction: row;
        height: 400px;       
     }

     .carte2{
        flex:1;
        display:flex;
        flex-direction:row;
        height:120px;
     }
     .carte2 img {
        width:40%;
        height: 100%;
        object-fit:cover;
     }
     .Activites{
        margin-top: 40px;
     }
     .carte-container3{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        gap:20px;
     }
     .carte3 img,
     .carte-activite img {
        width:100%;
        height:180px;
        Object-fit:cover;
     }

     footer{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 40px;
        padding:40px 0 20px;
     }
     footer div{
        flex:1;
     }
    }